<div class='wrapper' style='width:300px; margin: 0;'>
  <h1 style='margin-top: 30px;'>Top sights in Toronto</h1>
  <img src="{{url_for('static', filename='toronto.jpg')}}" align="middle" />
  <ol style='padding-left: 20px;'>
    <li style='padding: 10px; font-size: 20px; color: red;'>CN Tower</li>
    <li style='padding: 10px; font-size: 20px; color: red;'>Royal Ontario Museum</li>
    <li style='padding: 10px; font-size: 20px; color: red;'>Casa Loma</li>
    <li style='padding: 10px; font-size: 20px; color: red;'>Ripley's Aquarium</li>
  </ol>
</div>
